{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <form method="POST" style="display: inline;">{% csrf_token %}
        <ul style=" list-style-type: none">
            <li style="width: 15rem;"><b>{{form.title | as_crispy_field}}</b></li>
            <li style="width: 30rem;"><b>{{form.description | as_crispy_field}}</b></li>
            <li><b>{{form.complete | as_crispy_field}}</b></li>
        </ul>
        <input type="submit" value="Create" style="margin-left: 5px;">
    </form>
    <a href="{% url 'todos:task-list' %}" style="display: inline;"><input type="button" value="Cancel" style="margin-left: 5px;"></a>
{% endblock content %}