{% extends 'base.html' %}
{% load static %}


{% block content %}
    <section style="background-color: #eee;">
        <div class="container py-5">      
          <div class="row g-5">
            <div class="col-lg-4">
              <div class="card mb-4">
                <div class="card-body text-center m-4">
                  <img src="{{object.image.url}}" alt="avatar" class="rounded-circle img-fluid" style="width: 250px;">
                </div>
              </div>
            </div>
            <div class="col-lg-8">
              <div class="card mb-4">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0"><b>Full Name</b></p>
                    </div>
                    <div class="col-sm-9">
                      {% if object.first_name and object.last_name != none or empty%}
                        <p class="text-dark mb-0">{{object.first_name | title}} {{object.last_name | title}}</p>
                      {% else %}
                      {% endif %}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0"><b>Birth Date</b></p>
                    </div>
                    <div class="col-sm-9">
                      {% if object.birth_date != none or empty %}
                        <p class="text-dark mb-0">{{object.birth_date | date}}</p>
                      {% else %}
                      {% endif %}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0"><b>Country</b></p>
                    </div>
                    <div class="col-sm-9">
                      {% if object.country != none or empty %}
                        <p class="text-dark mb-0">{{object.country.name}}</p>
                      {% else %}
                      {% endif %}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0"><b>Email</b></p>
                    </div>
                    <div class="col-sm-9">
                      {% if object.email_address != none or empty %}
                        <p class="text-dark mb-0">{{object.email_address}}</p>
                      {% else %}
                      {% endif %}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0"><b>Mobile</b></p>
                    </div>
                    <div class="col-sm-9">
                      {% if object.mobile != none or empty %}
                        <p class="text-dark mb-0">{{object.mobile}}</p>
                      {% else %}
                      {% endif %}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0"><b>Phone</b></p>
                    </div>
                    <div class="col-sm-9">
                      {% if object.phone != none or empty %}
                        <p class="text-dark mb-0">{{object.phone}}</p>
                      {% else %}
                      {% endif %}
                    </div>
                  </div>
                </div>
                <div class="row m-0">
                  <a class="text-end" href="{% url 'users:update-profile' object.pk%}" style="font-size: small; text-decoration:none;">update</a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <div class="card mb-lg-0">
                  <div class="card-body text-end pt-0">
                    {% if request.user == object.user %}
                      <a class="link" href="{% url 'users:create-site' object.pk %}" style="font-size: small; text-decoration:none;">add site</a>
                    {% endif %}
                    <div class="row bg-secondary">
                      <p class="text-center mb-1">
                        <b>My Sites</b>
                      </p>
                    </div>
                    <div class="text-start">
                      {% for site in sites%}
                      <ul  class="list-group" style=" list-style-type: none;">
                        <li class="p-1">
                            <a href="{{site.site_url}}" style="text-decoration:none; color: black;">
                              <b>{{site.site_name}}</b>
                            </a>
                            <span style="float: right;">
                              <a href="{% url 'users:update-site' site.pk %}" style="font-size: small; text-decoration:none;">update </a>
                              <a href="{% url 'users:delete-site' site.pk %}" style="font-size: small; text-decoration:none;">delete</a>
                            </span>
                        </li>                  
                      </ul>
                      {% endfor %}
                    </div>
                  </div>               
                </div>
              </div>
              <div class="col-auto">   
              </div>
              <div class="col">
                <div class="card">
                  <div class="card-body text-end pt-0">
                    {% if request.user == object.user %}
                      <a class="link" href="{% url  'users:create-project' user.pk%}" style="font-size: small; text-decoration:none;">add project</a>
                    {% endif %}
                    <div class="row bg-secondary">
                      <p class="text-center mb-1">
                        <b>My Projects</b>
                      </p>
                    </div>
                    <div class="text-start">
                      {% for project in projects%}
                      <ul  class="list-group" style=" list-style-type: none;">
                        <li>
                          <a href="{% url 'users:project-detail' project.pk %}">
                            {{project.title}}
                          </a>
                          <span style="float: right;">
                            <a href="{% url 'users:project-update' project.pk %}" style="font-size: small; text-decoration:none;">update </a>
                            <a href="{% url 'users:project-delete' project.pk %}" style="font-size: small; text-decoration:none;">delete</a>
                          </span>
                        </li>                  
                      </ul>
                      {% endfor %}
                    </div>
                  </div>               
                </div>     
              </div>
            </div>
          </div>
        </div>
      </section>
{% endblock content %}